@import "scss/variables";

.col-12 {
    flex: 0 0 30%!important;
}

   /****** HEADER ***********/

   header {
    background-color: $second-color;
    height: auto;
    letter-spacing: -2px;
}

.main-header {
    padding: 15px 90px;
    line-height: 28px;
}

.top-bar-logo ul li {
    list-style-type: none;
}

.top-bar-logo ul li a {
    color: $main-color;
    font-size: 1.7em;
    font-weight: 400;
    text-decoration: none;

}

.bxl-sketch {
    font-size: 2.3em;
    color: $main-color;
   
}

.first-link {
    opacity: 1;
    transition: opacity .3s;
    cursor: pointer;

         &:hover {
        opacity: 0.5;
        transition: opacity .3s;

        }
}

.first-link a {
    color: red;
}


.second-link {

    border-left: 2px solid $main-color;
    margin-left: 8px;
    padding-left: 8px;


        &:hover {
        text-decoration: underline;
        }

}

button {
    border: 1px solid $main-color;
    padding: 11px 25px;
    font-size: 1.5em !important;
    background-color: black;
    color: $main-color;
    cursor: pointer;
    border-radius: 15px !important;
}

.text-button {
    display: block;
}

.button-bar-right {
    background-color: $button-color;
    color: $main-color;
    border: none;
    margin-left: 20px;
    transition: color, background-color .5s;

    &:hover {
        background-color: $main-color;
        color: $second-color;
        transition: color, background-color .5s;
    }
}

.bx-search-alt, .bx-menu  {
    color: $main-color;
    font-size: 3em;
    padding: 0;
    margin: 0;
    display: none;
}

.bx-search-alt {
    transform: scale(1);
    transition: transform .3s;

         &:hover {

        transform: scale(1.2);
        transition: transform .3s;
        
        }
}


/**** SECTION HOW CAN HELP ? ***********/

.section-help {
    background-color: $headerColor;
    height: auto;
    padding: 115px 15px;
    line-height: 28px;
    letter-spacing: -4px;
}

.section-h2 {
    font-weight: 500;
    font-size: 5em;
    padding-bottom: 40px;
}

.arrow-position {
    position: relative;
    flex-direction: column;
    width: 50%;
}

.section-input {
   position: relative;
   z-index: 3;
   padding: 1em 1em;
   height: auto;
   border: 1px solid $second-color;
   border-radius: 10px;

   font-size: 1.5em;
   color: #000 !important;

   outline: none;

    &:focus {
     border: 1px solid blue;

    }

    &::placeholder {
        color: $second-color;
        opacity: 1;
    }
}

.bx-right-arrow-alt {
    position: absolute;
    right: 20px;
    bottom: 10px;
    z-index: 100;
    font-size: 55px;
    font-weight: 100 !important;
    border: 1px solid $main-color;

}



@media (max-width: 1200px){

    /****** HEADER ***********/

    header {
        background-color: $second-color;
        height: auto;
        letter-spacing: -2px;
    }
    
    .main-header {
        padding: 5px 20px;
        line-height: 28px;
    }
    
    .section-h2 {
        font-size: 5em;
    }

    .top-bar-logo ul li {
        list-style-type: none;
    }
    
    .top-bar-logo ul li a {
        color: $main-color;
        font-size: 2em;
        font-weight: 400;
        text-decoration: none;

    }

    .bxl-sketch {
        font-size: 3em;
        color: $main-color;
       
    }

    .first-link {
        opacity: 1;
        transition: opacity .3s;
        cursor: pointer;

             &:hover {
            opacity: 0.5;
            transition: opacity .3s;

            }
    }

    .first-link a {
        color: red;
    }


    .second-link {

        border-left: 2px solid $main-color;
        margin-left: 8px;
        padding-left: 8px;

    
            &:hover {
            text-decoration: underline;
            }

    }

    button {
        border: none;
        background-color: black;
        font-size: 1.2em !important;
        cursor: pointer;
    }

    .text-button {
        display: none;
    }

    .bx-search-alt, .bx-menu  {
        color: $main-color;
        font-size: 3em;
        padding: 0;
        margin: 0;
        display: block;
    }

    .bx-search-alt {
        transform: scale(1);
        transition: transform .3s;

             &:hover {
    
            transform: scale(1.2);
            transition: transform .3s;
            
            }
    }


    /**** SECTION HOW CAN HELP ? ***********/

    .section-help {
        background-color: $headerColor;
        height: auto;
        padding: 115px 15px;
        line-height: 28px;
        letter-spacing: -4px;
    }

    .arrow-position {
        max-width: 60%;
    }

    .section-h2 {
        font-weight: 600;
        font-size: 3em;
        padding-bottom: 50px;
    }

    .section-input {
       position: relative;
       padding: 1em 1em;
       height: auto;
       border: 1px solid $second-color;
       border-radius: 10px;

       font-size: 1.5em;
       color: #000 !important;

       outline: none;

        &:focus {
         border: 1px solid blue;

        }

        &::placeholder {
            color: $second-color;
            opacity: 1;
        }
    }


    .bx-right-arrow-alt {
        position: absolute;
        right: 20px;
        bottom: 10px;
        z-index: 100;
        font-size: 55px;
        font-weight: 100 !important;
        border: 1px solid $main-color;
    
    }
    

}



@media (max-width: 992px){

    /****** HEADER ***********/

    header {
        background-color: $second-color;
        height: auto;
        letter-spacing: -2px;
    }
    
    .main-header {
        padding: 5px 20px;
        line-height: 28px;
    }

    .section-h2 {
        font-size: 5em;
    }

    .top-bar-logo ul li {
        list-style-type: none;
    }
    
    .top-bar-logo ul li a {
        color: $main-color;
        font-size: 2em;
        font-weight: 400;
        text-decoration: none;

    }

    .bxl-sketch {
        font-size: 3em;
        color: $main-color;
       
    }

    .first-link {
        opacity: 1;
        transition: opacity .3s;
        cursor: pointer;

             &:hover {
            opacity: 0.5;
            transition: opacity .3s;

            }
    }

    .first-link a {
        color: red;
    }


    .second-link {

        border-left: 2px solid $main-color;
        margin-left: 8px;
        padding-left: 8px;

    
            &:hover {
            text-decoration: underline;
            }

    }

    button {
        border: none;
        background-color: black;
        cursor: pointer;
    }

    .bx-search-alt, .bx-menu  {
        color: $main-color;
        font-size: 3em;
        padding: 0;
        margin: 0;
        display: block;
    }

    .bx-search-alt {
        transform: scale(1);
        transition: transform .3s;

             &:hover {
    
            transform: scale(1.2);
            transition: transform .3s;
            
            }
    }


    /**** SECTION HOW CAN HELP ? ***********/

    .section-help {
        background-color: $headerColor;
        height: auto;
        padding: 115px 15px;
        line-height: 28px;
        letter-spacing: -4px;
    }

    .section-h2 {
        font-weight: 600;
        font-size: 3em;
        padding-bottom: 50px;
    }

    .section-input {
       position: relative;
       padding: 1em 1em;
       height: auto;
       border: 1px solid $second-color;
       border-radius: 10px;

       font-size: 1.5em;
       color: #000 !important;

       outline: none;

        &:focus {
         border: 1px solid blue;

        }

        &::placeholder {
            color: $second-color;
            opacity: 1;
        }
    }

    .bx-right-arrow-alt {
        position: absolute;
        right: 20px;
        bottom: 10px;
        z-index: 100;
        font-size: 55px;
        font-weight: 100 !important;
        border: 1px solid $main-color;
        border: none;
    
    }

}



@media (max-width: 768px){

    /****** HEADER ***********/

    header {
        background-color: $second-color;
        height: auto;
        letter-spacing: -2px;
    }
    
    .main-header {
        padding: 5px 20px;
        line-height: 28px;
    }

    .section-h2 {
        font-size: 5em;
    }

    .top-bar-logo ul li {
        list-style-type: none;
    }
    
    .top-bar-logo ul li a {
        color: $main-color;
        font-size: 2em;
        font-weight: 400;
        text-decoration: none;

    }

    .bxl-sketch {
        font-size: 3em;
        color: $main-color;
       
    }

    .first-link {
        opacity: 1;
        transition: opacity .3s;
        cursor: pointer;

             &:hover {
            opacity: 0.5;
            transition: opacity .3s;

            }
    }

    .first-link a {
        color: red;
    }


    .second-link {

        border-left: 2px solid $main-color;
        margin-left: 8px;
        padding-left: 8px;

    
            &:hover {
            text-decoration: underline;
            }

    }

    button {
        border: none;
        background-color: black;
        cursor: pointer;
    }

    .bx-search-alt, .bx-menu  {
        color: $main-color;
        font-size: 3em;
        padding: 0;
        margin: 0;
        display: block;
    }

    .bx-search-alt {
        transform: scale(1);
        transition: transform .3s;

             &:hover {
    
            transform: scale(1.2);
            transition: transform .3s;
            
            }
    }


    /**** SECTION HOW CAN HELP ? ***********/

    .section-help {
        background-color: $headerColor;
        height: auto;
        padding: 115px 15px;
        line-height: 28px;
        letter-spacing: -4px;
    }

    .section-h2 {
        font-weight: 600;
        font-size: 5em;
        padding-bottom: 50px;
    }

    .section-input {
       position: relative;
       padding: 1em 1em;
       height: auto;
       border: 1px solid $second-color;
       border-radius: 10px;

       font-size: 1.5em;
       color: #000 !important;

       outline: none;

        &:focus {
         border: 1px solid blue;

        }

        &::placeholder {
            color: $second-color;
            opacity: 1;
        }
    }


    .bx-right-arrow-alt {
        position: absolute;
        right: 20px;
        bottom: 10px;
        z-index: 100;
        font-size: 55px;
        font-weight: 100 !important;
        border: 1px solid $main-color;
        border: none;
    
    }

}



@media (max-width: 576px){

    /****** HEADER ***********/

    header {
        background-color: $second-color;
        height: auto;
        letter-spacing: -2px;
    }
    
    .main-header {
        padding: 5px 0px;
        line-height: 28px;
    }

    .top-bar-logo ul li {
        list-style-type: none;
    }
    
    .top-bar-logo ul li a {
        color: $main-color;
        font-size: 1.9em;
        font-weight: 600;
        text-decoration: none;

    }

    .bxl-sketch {
        font-size: 2.5em;
        color: $main-color;
       
    }

    .first-link {
        opacity: 1;
        transition: opacity .3s;
        cursor: pointer;

             &:hover {
            opacity: 0.5;
            transition: opacity .3s;

            }
    }

    .first-link a {
        color: red;
    }


    .second-link {

        border-left: 2px solid $main-color;
        margin-left: 8px;
        padding-left: 8px;

    
            &:hover {
            text-decoration: underline;
            }

    }

    button {
        border: none;
        background-color: black;
        font-size: .8em !important;
        padding: 5px 5px;
        cursor: pointer;
    }

    .bx-search-alt, .bx-menu  {
        color: $main-color;
        font-size: 3em;
        padding: 0;
        margin: 0;
        display: block;
    }

    .bx-search-alt {
        transform: scale(1);
        transition: transform .3s;

             &:hover {
    
            transform: scale(1.2);
            transition: transform .3s;
            
            }
    }


    /**** SECTION HOW CAN HELP ? ***********/

    .section-help {
        background-color: $headerColor;
        height: auto;
        padding: 115px 15px;
        line-height: 28px;
        letter-spacing: -4px;
    }

    .section-h2 {
        font-size: 3.5em;
    }

    .section-input {
       position: relative;
       padding: 1em 1em;
       height: auto;
       border: 1px solid $second-color;
       border-radius: 10px;

       font-size: 1.5em;
       color: #000 !important;

       outline: none;

        &:focus {
         border: 1px solid blue;

        }

        &::placeholder {
            color: $second-color;
            opacity: 1;
        }
    }


    .bx-right-arrow-alt {
        position: absolute;
        right: 20px;
        bottom: 10px;
        z-index: 100;
        font-size: 55px;
        font-weight: 100 !important;
        border: 1px solid $main-color;
        border: none;
    
    }

}
