/****** HEADER ***********/
header {
  background-color: #000;
  height: auto;
  letter-spacing: -2px;
}

.main-header {
  padding: 25px 94px;
  line-height: 28px;
}

.top-bar-logo ul li {
  list-style-type: none;
}

.top-bar-logo ul li a {
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  text-decoration: none;
}

.bxl-sketch {
  font-size: 3em;
  color: #fff;
}

.first-link {
  opacity: 1;
  transition: opacity 0.3s;
  cursor: pointer;
}
.first-link:hover {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.first-link a {
  color: red;
}

.second-link {
  border-left: 2px solid #fff;
  margin-left: 8px;
  padding-left: 8px;
}
.second-link:hover {
  text-decoration: underline;
}

button {
  border: none;
  background-color: black;
  cursor: pointer;
}

.bx-search-alt, .bx-menu {
  color: #fff;
  font-size: 3em;
  padding: 0;
  margin: 0;
}

.bx-search-alt {
  transform: scale(1);
  transition: transform 0.3s;
}
.bx-search-alt:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
}

/**** SECTION HOW CAN HELP ? ***********/
.section-help {
  flex-direction: column;
  background-color: #dadbf1;
  height: auto;
  padding: 115px 15px;
  line-height: 28px;
  letter-spacing: -4px;
}

.section-h2 {
  font-weight: 500;
  font-size: 6em;
  padding-bottom: 50px;
}

.section-input {
  position: relative;
  padding: 1em 1em;
  height: auto;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 1.5em;
  color: #000 !important;
  outline: none;
}
.section-input:focus {
  border: 1px solid blue;
}
.section-input::-moz-placeholder {
  color: #000;
  opacity: 1;
}
.section-input:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}
.section-input::placeholder {
  color: #000;
  opacity: 1;
}

.bx-right-arrow-alt {
  position: absolute;
  right: 28px;
  bottom: 126px;
  font-size: 55px;
  font-weight: 100 !important;
  border: 1px solid #fff;
}

@media (max-width: 1200px) {
  /****** HEADER ***********/
  header {
    background-color: #000;
    height: auto;
    letter-spacing: -2px;
  }
  .main-header {
    padding-top: 5px;
    line-height: 28px;
  }
  .top-bar-logo ul li {
    list-style-type: none;
  }
  .top-bar-logo ul li a {
    color: #fff;
    font-size: 2em;
    font-weight: 400;
    text-decoration: none;
  }
  .bxl-sketch {
    font-size: 3em;
    color: #fff;
  }
  .first-link {
    opacity: 1;
    transition: opacity 0.3s;
    cursor: pointer;
  }
  .first-link:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
  }
  .first-link a {
    color: red;
  }
  .second-link {
    border-left: 2px solid #fff;
    margin-left: 8px;
    padding-left: 8px;
  }
  .second-link:hover {
    text-decoration: underline;
  }
  button {
    border: none;
    background-color: black;
    cursor: pointer;
  }
  .bx-search-alt, .bx-menu {
    color: #fff;
    font-size: 3em;
    padding: 0;
    margin: 0;
  }
  .bx-search-alt {
    transform: scale(1);
    transition: transform 0.3s;
  }
  .bx-search-alt:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
  }
  /**** SECTION HOW CAN HELP ? ***********/
  .section-help {
    flex-direction: column;
    background-color: #dadbf1;
    height: auto;
    padding: 115px 15px;
    line-height: 28px;
    letter-spacing: -4px;
  }
  .section-h2 {
    font-weight: 600;
    font-size: 3em;
    padding-bottom: 50px;
  }
  .section-input {
    position: relative;
    padding: 1em 1em;
    height: auto;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 1.5em;
    color: #000 !important;
    outline: none;
  }
  .section-input:focus {
    border: 1px solid blue;
  }
  .section-input::-moz-placeholder {
    color: #000;
    opacity: 1;
  }
  .section-input:-ms-input-placeholder {
    color: #000;
    opacity: 1;
  }
  .section-input::placeholder {
    color: #000;
    opacity: 1;
  }
  .bx-right-arrow-alt {
    position: absolute;
    right: 28px;
    bottom: 126px;
    font-size: 55px;
    font-weight: 100 !important;
    border: 1px solid #fff;
  }
}
@media (max-width: 992px) {
  /****** HEADER ***********/
  header {
    background-color: #000;
    height: auto;
    letter-spacing: -2px;
  }
  .main-header {
    padding-top: 5px;
    line-height: 28px;
  }
  .top-bar-logo ul li {
    list-style-type: none;
  }
  .top-bar-logo ul li a {
    color: #fff;
    font-size: 2em;
    font-weight: 400;
    text-decoration: none;
  }
  .bxl-sketch {
    font-size: 3em;
    color: #fff;
  }
  .first-link {
    opacity: 1;
    transition: opacity 0.3s;
    cursor: pointer;
  }
  .first-link:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
  }
  .first-link a {
    color: red;
  }
  .second-link {
    border-left: 2px solid #fff;
    margin-left: 8px;
    padding-left: 8px;
  }
  .second-link:hover {
    text-decoration: underline;
  }
  button {
    border: none;
    background-color: black;
    cursor: pointer;
  }
  .bx-search-alt, .bx-menu {
    color: #fff;
    font-size: 3em;
    padding: 0;
    margin: 0;
  }
  .bx-search-alt {
    transform: scale(1);
    transition: transform 0.3s;
  }
  .bx-search-alt:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
  }
  /**** SECTION HOW CAN HELP ? ***********/
  .section-help {
    flex-direction: column;
    background-color: #dadbf1;
    height: auto;
    padding: 115px 15px;
    line-height: 28px;
    letter-spacing: -4px;
  }
  .section-h2 {
    font-weight: 600;
    font-size: 3em;
    padding-bottom: 50px;
  }
  .section-input {
    position: relative;
    padding: 1em 1em;
    height: auto;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 1.5em;
    color: #000 !important;
    outline: none;
  }
  .section-input:focus {
    border: 1px solid blue;
  }
  .section-input::-moz-placeholder {
    color: #000;
    opacity: 1;
  }
  .section-input:-ms-input-placeholder {
    color: #000;
    opacity: 1;
  }
  .section-input::placeholder {
    color: #000;
    opacity: 1;
  }
  .bx-right-arrow-alt {
    position: absolute;
    right: 28px;
    bottom: 126px;
    font-size: 55px;
    font-weight: 100 !important;
    border: 1px solid #fff;
  }
}
@media (max-width: 768px) {
  /****** HEADER ***********/
  header {
    background-color: #000;
    height: auto;
    letter-spacing: -2px;
  }
  .main-header {
    padding-top: 5px;
    line-height: 28px;
  }
  .top-bar-logo ul li {
    list-style-type: none;
  }
  .top-bar-logo ul li a {
    color: #fff;
    font-size: 2em;
    font-weight: 400;
    text-decoration: none;
  }
  .bxl-sketch {
    font-size: 3em;
    color: #fff;
  }
  .first-link {
    opacity: 1;
    transition: opacity 0.3s;
    cursor: pointer;
  }
  .first-link:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
  }
  .first-link a {
    color: red;
  }
  .second-link {
    border-left: 2px solid #fff;
    margin-left: 8px;
    padding-left: 8px;
  }
  .second-link:hover {
    text-decoration: underline;
  }
  button {
    border: none;
    background-color: black;
    cursor: pointer;
  }
  .bx-search-alt, .bx-menu {
    color: #fff;
    font-size: 3em;
    padding: 0;
    margin: 0;
  }
  .bx-search-alt {
    transform: scale(1);
    transition: transform 0.3s;
  }
  .bx-search-alt:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
  }
  /**** SECTION HOW CAN HELP ? ***********/
  .section-help {
    flex-direction: column;
    background-color: #dadbf1;
    height: auto;
    padding: 115px 15px;
    line-height: 28px;
    letter-spacing: -4px;
  }
  .section-h2 {
    font-weight: 600;
    font-size: 3em;
    padding-bottom: 50px;
  }
  .section-input {
    position: relative;
    padding: 1em 1em;
    height: auto;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 1.5em;
    color: #000 !important;
    outline: none;
  }
  .section-input:focus {
    border: 1px solid blue;
  }
  .section-input::-moz-placeholder {
    color: #000;
    opacity: 1;
  }
  .section-input:-ms-input-placeholder {
    color: #000;
    opacity: 1;
  }
  .section-input::placeholder {
    color: #000;
    opacity: 1;
  }
  .bx-right-arrow-alt {
    position: absolute;
    right: 28px;
    bottom: 126px;
    font-size: 55px;
    font-weight: 100 !important;
    border: 1px solid #fff;
  }
}
@media (max-width: 576px) {
  /****** HEADER ***********/
  header {
    background-color: #000;
    height: auto;
    letter-spacing: -2px;
  }
  .main-header {
    padding-top: 5px;
    line-height: 28px;
  }
  .top-bar-logo ul li {
    list-style-type: none;
  }
  .top-bar-logo ul li a {
    color: #fff;
    font-size: 2em;
    font-weight: 400;
    text-decoration: none;
  }
  .bxl-sketch {
    font-size: 3em;
    color: #fff;
  }
  .first-link {
    opacity: 1;
    transition: opacity 0.3s;
    cursor: pointer;
  }
  .first-link:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
  }
  .first-link a {
    color: red;
  }
  .second-link {
    border-left: 2px solid #fff;
    margin-left: 8px;
    padding-left: 8px;
  }
  .second-link:hover {
    text-decoration: underline;
  }
  button {
    border: none;
    background-color: black;
    cursor: pointer;
  }
  .bx-search-alt, .bx-menu {
    color: #fff;
    font-size: 3em;
    padding: 0;
    margin: 0;
  }
  .bx-search-alt {
    transform: scale(1);
    transition: transform 0.3s;
  }
  .bx-search-alt:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
  }
  /**** SECTION HOW CAN HELP ? ***********/
  .section-help {
    flex-direction: column;
    background-color: #dadbf1;
    height: auto;
    padding: 115px 15px;
    line-height: 28px;
    letter-spacing: -4px;
  }
  .section-h2 {
    font-weight: 600;
    font-size: 3em;
    padding-bottom: 50px;
  }
  .section-input {
    position: relative;
    padding: 1em 1em;
    height: auto;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 1.5em;
    color: #000 !important;
    outline: none;
  }
  .section-input:focus {
    border: 1px solid blue;
  }
  .section-input::-moz-placeholder {
    color: #000;
    opacity: 1;
  }
  .section-input:-ms-input-placeholder {
    color: #000;
    opacity: 1;
  }
  .section-input::placeholder {
    color: #000;
    opacity: 1;
  }
  .bx-right-arrow-alt {
    position: absolute;
    right: 28px;
    bottom: 126px;
    font-size: 55px;
    font-weight: 100 !important;
    border: 1px solid #fff;
  }
}/*# sourceMappingURL=style.css.map */