@import "scss/variables";


@media (max-width: 576px){

    header {
        background-color: $second-color;
        height: auto;
    }
    
    .main-header {
        padding: 20px 0px;
    }

    .top-bar-logo ul li {
        list-style-type: none
    }
    
    .top-bar-logo ul li a {
        color: $main-color;
        font-size: 1.5em;
        font-weight: 600;
    }

    .bxl-sketch {
        font-size: 2em;
        color: $main-color;
    }
    
}
